.main-navbar{
    margin-top: -20px;
    height:110px;
    background-color: #002147;
    width:100%;
}

.navbar-left-align{
    text-align: center;
    color: #f8f9fa;
    position: absolute;
    left: 10%;
    top: 12px;
    font-family: Lato, "Helvetica Neue", "Arial", "Sans-serif";
    line-height: 110%;
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: transparent;
}

.navbar-article-block{
    border:1px solid rgba(255, 255, 255, 0.482);
    border-radius: 10px;
    /* text-align: center; */
    position: absolute;
    height: 65px;
    margin-top: 32px;
    left: 27.5%;
    color: white;
    width: 102.9px;
    font-size: 18px;
    margin-left:-5px; 
    padding: 2px;
}

.div-search-box{
    position: absolute;
    left: 36%;
    margin-top: 37px;
    height:30px;
}

.search-box{
    border-radius: 20px;
    border:1px #767c8a solid;
    height:35px;
    width:100%;
    background-color: #002147;
    outline: none;
    color:#767c8a;
    padding: 0px 30px;
}

.search-box::placeholder {
    font-size: 20px;
    color:#6b7f99;
    display: block;
  }

.charts-goals{
    position:absolute;
    left:36%;
    margin-top:75px;
    color:#6b7f99;
    font-size: 95%;
    margin-left:-5px;
}

.navbar-headings{
    position:absolute;
    left:56%;
    color:#6b7f99;
    margin-top:42px;
    font-size:110%
}
