/* Body part media query */

@media (min-width:1200px) {

    .income-equality{
        display: block;
        font-family: Playfair Display,Georgia,Times New Roman,serif;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.4;
        margin: 0.67em 0;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .empirical-evidence p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-top: 0;
    }

    .site-footer {
        background-color: #002147;
        color: #6e87a2;
        padding: 3rem 0;
    }

    .site-footer ul a {
        display: block;
        text-decoration: none;
        color: inherit;
        transition: color .15s ease;
        cursor: pointer;
        background-color: transparent;
    }

    
    .subheadings a{
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }

    .subheadings{
        color: rgb(29, 61, 99);
        text-size-adjust: 100%;
        overflow-wrap: break-word;
        font-family: Lato, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        line-height: 1.6;
        overflow-x: hidden;
        margin-top: -15px !important;
    }

    .subheadings div{
        /* background-color: #EBEEF2; */
        display: block;
        
    }

    .subheadings h1{
        font-size: 75px;
        margin:80px 0px 40px;
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-weight: 500;
        margin-bottom: 0.5em;
        margin-top: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .subheadings h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .article-header {
        padding-bottom: 32px;
        padding-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-left: 80px;
    }

    .article-titles {
        margin-bottom: 32px;
        margin-top: 7%;
        /* padding-left: 28%; */
        /* font-size: 2rem !important; */

    }

    .authors-byline {
        color: rgb(87, 114, 145);
        margin-right: 1rem;
        /* padding-left: 28%; */
    }

    .blog-info {
        color: rgb(87, 114, 145);
        font-size: 0.875rem;
        font-style: italic;
        /* padding-left: 28%; */
    }

    .tools {
        color: rgb(87, 114, 145);;
        font-size: 0.875rem;
        margin-top: 3rem;
        /* padding-left: 28%; */
    }
    
    .tools a{
        margin-right: 0.5rem;
        text-decoration: underline;
        text-decoration: none;
    }

    .tools a:hover{
        color:red;
    }

    .authors-byline a:hover{
        color:red;
    }

    .empirical-evidence{
        padding-left: 13%;
        padding-right: 56.5%;
        margin-top: 50px;
        color: #1D3D63;
        font-family: Lato, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height:25.6px;
        vertical-align: baseline;
        text-decoration: none solid rgb(29, 61, 99);
        text-align: start;
        margin-bottom: 50px;

    }

    .empirical-evidence a{
        color:#1D3D63
    }

    .empirical-evidence a:hover{
        color:red;
    }

    .empirical-evidence a:focus{
        color:rgb(120, 46, 46)
    }

    .section-heading {
        background-color: #dbe5f0;
        margin-bottom: 2rem;
        width: 89%;
        margin-left: 5.5%;
        margin-right:5.5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
        padding-top:4% !important;
    }

    .the-history-of-inequality{
        color: RGB(29, 61, 99);
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-size:48px !important;
        font-weight: 500 !important;
        text-decoration: none solid rgb(29, 61, 99);
        text-transform: none;
        line-height: 60px;

    }

    .label{
        margin-bottom: 10px;
        color:#98A9BD;
    }

    .label::after{
        content: " ";
        display: block;
        height: 14px;
        width: 55%;
        position: absolute;
        background-color: #98A9BD;
        margin-top:-20px;
        margin-left:130px;
    }

    .list-a{
        line-height: 20px;
    }
}




@media (max-width:1200px) and (min-width:900px) {

    .subheadings h1{
        font-size: 75px;
        margin:80px 0px 40px;
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-weight: 500;
        margin-bottom: 0.5em;
        margin-top: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .subheadings h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .article-header {
        padding-bottom: 32px;
        padding-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
    }

    .article-titles {
        margin-bottom: 32px;
        margin-top: 7%;
        padding-left: 20%;
        /* font-size: 2rem !important; */

    }

    .authors-byline {
        color: rgb(87, 114, 145);
        margin-right: 1rem;
    }

    .blog-info {
        color: rgb(87, 114, 145);
        font-size: 0.875rem;
        font-style: italic;
    }
}

.flex-2 {
    flex: 2;
}

.owid-col {
    padding: 0 1rem;
}

.owid-col, .owid-col--full {
    /* flex: 0 0 100%; */
    max-width: 100%;
}

.owid-col--lg-1, .owid-col--lg-auto {
    flex: 1;
}

.owid-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.site-footer {
    background-color: #002147;
    color: #6e87a2;
    padding: 3rem 0;
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    vertical-align: -0.125em;
    overflow: visible;
}

.site-footer .logos img {
    display: inline-block;
}


.site-footer ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

.site-footer .wrapper {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;  
    margin-right: auto;
    max-width: 1420px;
}


.container-fluid {
    padding: 20px;
    background-color:  #EBEEF2;;
}
  
  /* Style the input elements and the submit button */
  .subheadings input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Add margins to the checkbox */
  .subheadings input[type=checkbox] {
    margin-top: 16px;
}
  
  /* Style the submit button */
  .subheadings input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}
  
.subheadings input[type=submit]:hover {
    opacity: 0.8;
}

.site-footer .split-image img {
    height: auto;
    max-width: 100%;
}

.split-image img {
    height: auto;
    max-width: 100%;
}
